#title
{
    background-color:#ff4c68;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}
body
{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid
{
   padding: 3% 15% 7% !important ; 


}
h2
{
    font-family:"Montserrat";
    font-weight:600;
    font-size: 3rem !important;
    line-height:1.5 !important;
}
p 
{
    color:#8f8f8f;
}
.btn-dark
{
    background-color:rgb(53, 53, 53) !important;
}
.btn-dark:hover
{
    background-color: rgb(255, 255, 255) !important;
    border-color:white !important;
    color:rgb(0, 0, 0) !important;
} 
.navbar
{
    padding-bottom: 4.5rem !important;

}
.navbar-brand
{
    color: white !important;
    font-family: "Ubuntu" !important;
    font-weight: bold;
    font-size:2.5rem !important;
}
#h1-bt
{
    color:white !important;
    font-size:4em !important;
    font-family: 'Montserrat';
    font-weight:900;
}
#features
{
    padding:7% 15%;
    background-color: white;
    position: relative;
}
#pricing {
    padding: 100px;
    text-align: center;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
.nav-item
{
    padding:0 18px;
}
.nav-link 
{
    font-size:1.2rem !important;
}
.download-button
{
    margin: 5% 3% 5% 0;
}
.iphone-mockup
{
    width:20%;
    transform:rotate(25deg);
    position: absolute;
    left:60%;
    /* bottom:60%; i will use it in the end version */
}
.h3-texts
{
    font-family: 'Montserrat' !important;
    font-weight:700;
    font-size:1.5rem;
}


.fa-circle-check
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.fa-bullseye
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.fa-heart
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.feature-box
{
    text-align: center;
    
}
.fa-solid:hover
{
    color:#ff4c68 !important;
}

/* Testimonials Section */

#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color:#ef8172;
    color:white;
}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
} 
#pricing
{
    padding:10% 15%;
}
.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}
.Pricing-starting
{
    text-align: center;
}

.btn-dark
{
    background-color:#212529 !important;
}
.btn-dark:hover
{
    border-color:black!important;
    border-style: solid !important;
}
.card-header
{
    background-color:rgb(226, 226, 226) !important;
}

@media( max-width:991px) {
    #title {
        text-align: center;
    }
    .iphone-mockup
    {
        position: static;
        transform: rotate(0);
        width:50%;
    }
    .navbar-toggler-icon
    {
        width:4em !important;
        height: 4em !important;
    }
    .navbar-brand {
        font-size: 4rem !important;
    }
    .nav-link
    {
        font-size:2.5rem !important;
    }
}
@media( min-width:992px) and (max-width:1028px)
{
    .iphone-mockup
    {
        position: static;
        transform: rotate(0);
        width:100%;
        margin-left:50%;
    }
}

/* call to action */
#cta 
{
    text-align: center;
    background-color: #ff4c68;
}
.cta-text
{
    font-size:4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    padding-top:100px;
    margin: 0 20%;
}
.btn
{
    margin-top:30px !important;
    text-align:center !important;
}

/* footer */
#footer
{
    padding:3% 15%;
    text-align: center;
    background-color:white;
}
.footer-icon
{
    padding-bottom: 15px;
    width:30px;
}
