#title
{
    background-color:#ff4c68;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}
body
{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid
{
   padding: 3% 15% !important ; 


}
h2
{
    font-family:"Montserrat";
    font-weight:600;
    font-size: 3rem !important;
    line-height:1.5 !important;
}
.btn-dark
{
    background-color:rgb(53, 53, 53) !important;
}
.btn-dark:hover
{
    background-color: rgb(255, 255, 255) !important;
    border-color:white !important;
    color:rgb(0, 0, 0) !important;
} 
.navbar
{
    padding-bottom: 4.5rem !important;

}
.navbar-brand
{
    color: white !important;
    font-family: "Ubuntu" !important;
    font-weight: bold;
    font-size:2.5rem !important;
}
#h1-bt
{
    color:white !important;
    font-size:4em !important;
    font-family: 'Montserrat';
    font-weight:900;
}
.nav-item
{
    padding:0 18px;
}
.nav-link 
{
    font-size:1.2rem !important;
}
.download-button
{
    margin: 5% 3% 5% 0;
}
.iphone-mockup
{
    width:80%;
    transform:rotate(25deg);
    margin-left:70px;
}
.h3-texts
{
    font-family: 'Montserrat' !important;
    font-weight:700;
    font-size:1.5rem;
}
#features
{
    padding:7% 15%;
}
p 
{
    color:#8f8f8f;
}
.fa-circle-check
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.fa-bullseye
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.fa-heart
{
    color: #ef8172 !important;
    padding-bottom: 10px;
}
.feature-box
{
    text-align: center;
    
}
.fa-solid:hover
{
    color:#ff4c68 !important;
}

/* Testimonials Section */

#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color:#ef8172;
    color:white;
}
.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
} 
.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}
.Pricing-starting
{
    text-align: center;

}
#pricing
{
    padding:10% 15%;
}
.btn-dark
{
    background-color:#212529 !important;
}
.btn-dark:hover
{
    border-color:black!important;
    border-style: solid !important;
}
.card-header
{
    background-color:rgb(226, 226, 226) !important;
}
